# {{ ansible_managed }}
user {{ nginx_user | default('www-data') }};
worker_processes {{ nginx_worker_processes | default('2') }};
pid /run/nginx.pid;

events {
    worker_connections {{ nginx_worker_connections }};
    use epoll;
    multi_accept {{ nginx_multi_accept }};
}

{% if nginx_extra_conf_options %}
{{ nginx_extra_conf_options }}
{% endif %}

http {

    ##
    # Basic Settings
    ##

    sendfile off;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;
    types_hash_max_size 2048;
    server_tokens off;
    proxy_hide_header X-Powered-By;
    client_max_body_size 0;

    server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size | default('64') }};
    # server_name_in_redirect off;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    ##
    # Cache Settings
    ##
    proxy_cache_path /dev/shm/nginx_proxy keys_zone={{ nginx_proxy_cache_keys_zone }} levels={{ nginx_proxy_cache_levels }} inactive={{ nginx_proxy_cache_inactive }} max_size={{ nginx_proxy_cache_max_size }};
    proxy_cache_key $host:$server_port$uri$is_args$args;
    proxy_ignore_headers "Cache-Control";
    proxy_ignore_headers "Expires";

    fastcgi_cache_path /dev/shm/nginx_fastcgi keys_zone={{ nginx_fastcgi_cache_keys_zone }} levels={{ nginx_fastcgi_cache_levels }} inactive={{ nginx_fastcgi_cache_inactive }} max_size={{ nginx_fastcgi_cache_max_size }};
    fastcgi_cache_key $host:$server_port$uri$is_args$args;
    fastcgi_ignore_headers "Cache-Control";
    fastcgi_ignore_headers "Expires";

    ##
    # Logging Settings
    ##
    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    log_format bytepark '[$time_iso8601] $remote_addr - $remote_user : $status "$request" $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for" $scheme $host cache:$upstream_cache_status $request_time';

    ##
    # Gzip Settings
    ##
    gzip on;
    gzip_disable "msie6";

    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript image/svg+xml;

    {% if nginx_extra_http_options %}
        {{ nginx_extra_http_options|indent(4, False) }}
    {% endif %}

    include /etc/nginx/secure.conf;
    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
{% if nginx_naxsi_enable %}
    # nginx-naxsi rules
    include /etc/nginx/naxsi_core.rules;
{% endif %}
}
