        gzip on;
        proxy_http_version 1.1;

{% if item.naxsi_enable is defined and item.naxsi_enable %}
        ## Naxsi rules
{% if item.naxsi_mode_learning is defined and item.naxsi_mode_learning %}
        LearningMode;
{% endif %}

        SecRulesEnabled;
        DeniedUrl "{{ item.naxsi_denied_url }}";

{% if item.naxsi_whitelist_file is defined %}
        include {{ item.naxsi_whitelist_file }};
{% endif %}

        ## check rules
        CheckRule "$SQL >= 10" BLOCK;
        CheckRule "$RFI >= 8" BLOCK;
        CheckRule "$TRAVERSAL >= 4" BLOCK;
        CheckRule "$EVADE >= 4" BLOCK;
        CheckRule "$XSS >= 8" BLOCK;

{% endif %}
{% if item.disable_try_files is not defined or item.disable_try_files != true %}
        {{ item.location_try_files | default('try_files $uri $uri/ /index.php?$args;') }}
{% endif %}
